@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Young Serif", serif;
  font-style: normal;
}
h2{
  margin-bottom: 24px;
  color: #312e2c;
}
p{
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: #5f564d;
}
.container {
  display: flex;
  justify-content: center;
  background: #f3e5d7;
}
.content {
  background: #fff;
  max-width: 736px;
  border-radius: 24px;
  padding: 40px;
  margin-top: 123px;
}
.content img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 40px;
}
.preparationTime{
  margin-top: 32px;
  padding: 28px;
  background: #fff7fb;
}

.preparationTime ul{
  margin-top: 16px;
  margin-left: 16px;
}
.preparationTime ul li {
  font-weight: 100;
  color: hsl(332, 51%, 32%);
}
.preparationTime li span{
  color: #5f564d;
}
.preparationTime h3{
  color: hsl(332, 51%, 32%);
}
.ingredients{
  margin-top: 32px;
}
h3{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-size: 23px;
  color: #854632;
}
.ingredients ul {
  margin-top: 16px;
  margin-left: 16px;
}
.ingredients li{
  color: #854632;
}
hr{
  background: #e3ddd7;
  margin-top: 32px;
}
.instructions {
  margin-top: 32px;
}
ol{
  margin-top: 24px;
  color: #5f564d;
}

ol li div{
  margin-left: 16px;
}
ol li {
  margin-bottom: 8px;
}
.nutrition{
  margin-top: 32px;
}
.nutrition h3{
  margin-bottom: 24px;
}
.nutrition small{
  font-weight: 100;
  color: #5f564d;
}
.nutritionContent{
  margin-top: 8px;
  padding: 4px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e3ddd7;
}
.nutrition small{
  width: 288px;
}
.nutritionContent strong{
  width: 288px;
  color: hsl(332, 51%, 32%);
}
.attribution { font-size: 11px; text-align: center; background: #f3e5d7; padding: 10px;}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 600px) {
  .container{
    display: block;
  }
  .content{
    padding: 0;
    margin-top: 0;
  }
  .content img {
    border-radius: 0;
  }
  .preparationTime,.recipe, .ingredients, .instructions, .nutrition {
    padding: 32px;
  }
}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 375px) {
  .container{
    display: block;
  }
  .content{
    padding: 0;
    margin-top: 0;
  }
  .content img {
    border-radius: 0;
  }
  .preparationTime,.recipe, .ingredients, .instructions, .nutrition {
    padding: 32px;
  }
}